In [1]:
import pandas as pd

In [3]:
InterpolatedData = pd.read_csv("interpolatedData.csv")
InterpolatedData.head()

,Unnamed: 0,timeNanos,value,startTimeNanos,endTimeNanos,duration,isSleep
0,0,1.649444e+12,86.0,NaN,NaN,NaN,NaN
1,1,1.649445e+12,86.0,NaN,NaN,NaN,NaN
2,2,1.649445e+12,87.0,NaN,NaN,NaN,NaN
3,3,1.649445e+12,87.0,NaN,NaN,NaN,NaN
4,4,1.649445e+12,87.0,NaN,NaN,NaN,NaN

In [5]:
# # Ignore if there is no Unnamed column at the start
# InterpolatedData.drop(InterpolatedData.columns[0], inplace=True, axis = 1)

In [6]:
# InterpolatedData.head()

      timeNanos  value  startTimeNanos  endTimeNanos  duration isSleep
0  1.649444e+12   86.0             NaN           NaN       NaN     NaN
1  1.649445e+12   86.0             NaN           NaN       NaN     NaN
2  1.649445e+12   87.0             NaN           NaN       NaN     NaN
3  1.649445e+12   87.0             NaN           NaN       NaN     NaN
4  1.649445e+12   87.0             NaN           NaN       NaN     NaN

In [7]:
# InterpolatedData.to_csv("data.csv", index=False)

In [8]:
InterpolatedData.iloc[28]

timeNanos         1649446140000.0
value                        83.0
startTimeNanos    1649445900000.0
endTimeNanos      1649446440000.0
duration                 540000.0
isSleep                      True
Name: 28, dtype: object

In [17]:
t = InterpolatedData.iloc[0, 0]
t1 =InterpolatedData.iloc[29, 0]

In [18]:
print(t/(60*10**3))
t1/(60*10**3)

27490741.0

27490770.0

In [39]:
columns = ["StartTime", "EndTime"]
columns.extend(list(map(str, range(1,31))))
columns.extend(["Sleeps", "NoSleeps", "isSleep"])

In [40]:
print(columns)

['StartTime', 'EndTime', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', 'Sleeps', 'NoSleeps', 'isSleep']

In [45]:
loop = -1
newData = []
while(True):
    try:
        startTime = InterpolatedData.iloc[loop+1, 0]
        row = []
        numSleeps = 0
        for i in range(30):
            loop += 1
            row.append(InterpolatedData.iloc[loop, 1])
            if InterpolatedData.iloc[loop, -1] == True:     # Because if also takes nan as true
                numSleeps += 1
        endTime = InterpolatedData.iloc[loop, 0]
        row.insert(0, endTime)
        row.insert(0, startTime)
        row.extend([numSleeps, 30-numSleeps, numSleeps>15])
        newData.append(row)
    except Exception as e:
        print(f"loop broke at {loop} because {e}")
        break

loop broke at 10986 because single positional indexer is out-of-bounds

In [49]:
InterpolatedData.shape

(10986, 6)

In [50]:
data = pd.DataFrame(newData, columns=columns)

In [53]:
data.isSleep.describe()

count       366
unique        2
top       False
freq        252
Name: isSleep, dtype: object

In [54]:
data.to_csv("windowedData.csv", index = False)